## Set ---> {}, set()

In [7]:
myset = {"apple", "banana", "cherry", "apple", "banana", "cherry"}

In [8]:
type(myset)

set

In [9]:
myset

{'apple', 'banana', 'cherry'}

In [12]:
set_1 = {1, 2.6, 3+5j, True, False, "Tanuj", 0}

In [14]:
set_1

{(3+5j), 1, 2.6, False, 'Tanuj'}

In [15]:
set_2 = {0, 1, True, False}

In [16]:
set_2

{0, 1}

In [17]:
set_3 = {True, False, 1, 0}

In [18]:
set_3

{False, True}

In [19]:
len(set_1)

5

In [20]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [22]:
set_1

{(3+5j), 1, 2.6, False, 'Tanuj'}

In [23]:
for A in set_1:
    print(A)

False
1
2.6
(3+5j)
Tanuj

In [24]:
print("Apple" in set_1)

False

In [25]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [26]:
print(True in set_1)

True

In [27]:
thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [28]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'mango', 'pineapple', 'papaya', 'banana'}

In [29]:
tropical.update(thisset)

In [30]:
tropical

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [32]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [33]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'apple', 1, 2, 3, 'b', 'c', 'a', 'bananas', 'John', 'cherry', 'Elena'}

In [34]:
myset = set1 | set2 | set3 |set4
print(myset)

{'apple', 1, 2, 3, 'b', 'c', 'a', 'bananas', 'John', 'cherry', 'Elena'}

In [35]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [36]:
t = x | y
t

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [1]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

In [2]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'microsoft', 'cherry'}