In [1]:
separated_letters = [ letter for letter in 'analytics' ]
print( separated_letters)

['a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [3]:
new_list = []
for i in 'Analytics':
    new_list.append(i)

In [4]:
new_list

['A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [6]:
my_tuple = (1, 2.6, 3+5j, True, False, "Tanuj", [1,2,3], (2,6,9))

In [22]:
print(type(my_tuple))

<class 'tuple'>

In [7]:
len(my_tuple)

8

In [9]:
my_tuple[0]

1

In [10]:
my_tuple[7]

(2, 6, 9)

In [12]:
my_tuple[:4]

(1, 2.6, (3+5j), True)

In [13]:
my_tuple[4:]

(False, 'Tanuj', [1, 2, 3], (2, 6, 9))

In [14]:
my_tuple[-8]

1

In [15]:
my_tuple[-1]

(2, 6, 9)

In [19]:
my_tuple[:-4]

(1, 2.6, (3+5j), True)

In [20]:
my_tuple[-4:]

(False, 'Tanuj', [1, 2, 3], (2, 6, 9))

In [24]:
t_1 = (9,)

In [25]:
type(t_1)

tuple

In [30]:
x = ("apple", "banana", "cherry")
# print(x)
# print(type(x))
y = list(x)

# print(y)
y[1] = "kiwi"
# print(y)
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [32]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

thistuple

('apple', 'banana', 'cherry', 'orange')

In [33]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [35]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

In [36]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [37]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [38]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [39]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [40]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')